
body{
    background-color: #efefef;;
}
#panel-login{
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    background-color: white;
    padding: 3em;
    border-radius: 5px;
}
#zona-boton{
    text-align: center;
}
#btn-submit{
    margin-top: 1em;
    background-color: #3a9dca;
    color: white;
    width: 100%;
    font-size: 16px;
    padding: 8px;
}
#btn-submit:hover{
    background-color: #3095c4;
}
.form-row{
    margin-top: 1.3em;
}