/* Tipografías */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:100,400,700');

body{
    font-family: 'Roboto', sans-serif; /*Open Sans*/
}
#body-container{
    padding: 0;
    margin: 0;
}
/* =============== BARRA DE NAVEGACIÓN IZQUIERDA ============= */

#nav-left-col{
    padding: 0;
    margin: 0;
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #2480c0, #319bc2, #43a8b8,#44b9ae);
    
}
#nav-left{
    padding: 0;
    min-height: 100vh;
}
#web-logo{
    padding: 2em;
}
/* Estilo lista  */
.list-unstyled{
    padding-left: 0;
    list-style: none;
    color: #fff;
}
.espaciado-desplegable{
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}
ul ul a {
	font-size: 0.9em;
	padding-left: 30px !important;
	background: #666666;
}
#nav-left a[data-toggle="collapse"] {
    position: relative;
}
#nav-left ul li.active>a, #nav-left a[aria-expanded="true"] {
    color: #fff;
    background: #555555;
}
#nav-left ul li a:hover {
    color: #eee;
}
#nav-left ul li a {
    padding: 10px 10px 10px 25px;
    font-size: 16px;
    display: block;
    letter-spacing: 1px;
}
#nav-left ul li ul li a{
    margin-left: 0.6em;
}
#nav-left ul li ul li a:hover{
    background-color: #6d6d6d;
}

#nav-left ul li a span{
    margin-left: 0.7em;
    margin-right: 0.5em;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.tamano-letra li a{
    font-size: 14px !important;
}
/* flecha desplegable */
.apartados a[aria-expanded="false"]::before, .apartados a[aria-expanded="true"]::before {
    content: '\e64b';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'themify';
    font-size: 0.6em;
    top: 40%;
}
/* Cambia el icono por la flecha en otra orientación cuando se desplega una lista */
.apartados a[aria-expanded="true"]::before {
    content: '\e648';
}

/* =============== BARRA DE NAVEGACIÓN SUPERIOR ============= */
.col-der{
    padding: 0;
}
#nav-top {
    padding: 20px 0px;
    background: #fff;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
}
#nav-top ul{
    margin-left: auto;
    margin-right: 2em;
}
#nav-top .ti-user{
    background: #f9f9f9;
    border: 1px solid #eee;
    color: #343A40;
}
#user .ti-user:hover{
    background: #43aab6;
    color: #ffffff;
    transition: all 0.3s;
}
#nav-top .ti-user{
    padding: 10px;
    border-radius: 50%;
}
#grupo-titulo-pagina{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 12px 20px;
    background: #666666;
}

#grupo-titulo-pagina h3{
    flex: 1 1 auto;
    min-height: 1.75rem;
    margin: 0;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.75;
}
#titulo, #localizacion{
    margin-top: auto;
    margin-bottom: auto;
}
#titulo{
    font-size: 22px;
    color: #fff;
    background: transparent;
}
#localizacion{
    border-radius: 0;
    margin-bottom: 0;
    padding: 0px;
    float: right;
    padding: 10px 20px;
    border-radius: 20px;
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #2480c0, #319bc2, #43a8b8,#44b9ae);
    color: white;
    font-size: 14px;
}
/* Fila 1 cuerpo página */
#cuerpo-pagina-1{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 5px 20px;
    background-color: #f1f1f1;
}
.area-cuadro{
    background: #fff;
    border-radius: 2px;
}
.sombra-cuadro{
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: 0 0 0 1px #dce3ec, 0 8px 16px 0 #dce3ec;
    box-shadow: 0 0 0 1px #e6e6e694, 0 8px 16px 0 #dce3ec;
    background: #fff;
    margin-top: 20px;
}
.color-azul{
    color: #298ac0;
}
.widget-izq{
    width: 35%;
    display: inline-block;
    vertical-align: 22px;
    font-size: 30px;
    text-align: center;
}
.widget-izq [class^="ti-"], .widget-izq [class*=" ti-"] {
    padding: 17px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid;
}
.widget-der {
    width: 62%;
    display: inline-block;
    padding: 20px 0;
}
h4.wiget-titulo {
    font-size: 13px;
    letter-spacing: .5px;
}
.area-cuadro .numero {
    font-size: 30px;
    letter-spacing: 1px;
}
.flecha-inc {
    font-size: 12px;
    color: #717070;
}
/* Fila 2*/
#cuerpo-pagina-2{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 5px 20px;
    background-color: #f1f1f1;
    height: 100vh;
}