
#apartado-usuarios{
    background: #fff;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 2px;
    border-radius: 2px;
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: 0 0 0 1px #dce3ec, 0 8px 16px 0 #dce3ec;
    box-shadow: 0 0 0 1px #dce3ec, 0 8px 16px 0 #dce3ec;
    background: #fff;
    margin-top: 20px;
    margin-bottom: 33px;
}
#apartado-usuarios h3{
    color: #38aece;
    font-size: 19px;
}
#fisios-table{
    text-align: center;
} 
#fisios-table thead tr th {
    color: #3e5569;
    border: 0px;
}
#fisios-table tbody tr td{
    vertical-align: middle;
    color: #3e5569;
    border: 1px solid #dee2e6;
}
#fisios-table tbody tr:nth-child(2n) {
    background: #fafafa;
}
#fisios-table tbody tr:hover {
    background: #00adcc7a;
    transition: all 0.3s;
}
